BraveSoftware/
KDE/
Kvantum/
QtProject.conf
Slack/
Trolltech.conf
VirtualBox/
VirtualBoxrc
akregatorrc
appimagelauncher.cfg
arkrc
autostart/
balena-etcher-electron/
balena-etcher/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
configstore/
dconf/
device_automounter_kcmrc
dolphinrc
emaildefaults
falkon/
filelightrc
fish/fish_variables
GIMP/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
htop/
k3brc
kactivitymanagerd-statsrc
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katesyntaxhighlightingrc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kmenueditrc
kmixrc
knfsshare
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
latte/
lattedockrc
libaccounts-glib/
manjaro-hello.json
manjaro/
matray/
menus/
mimeapps.list
neofetch/
nvim/autoload/
nvim/lua/packer_compiled.lua
nvim_backup/autoload/
okularpartrc
okularrc
omf/
onlyoffice/
pamac/
partitionmanagerrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
pulse/
session/
spectaclerc
spotify-tui/
systemd/
systemmonitorrc
systemsettingsrc
touchpadxlibinputrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
xsettingsd/
yakuakerc

enchant/
evolution/
gedit/
gnome-initial-setup-done
ibus/
mozc/
nvim/dotfiles/
qalculate/
pop-shell/
qalculate/
touchegg/

monitors.xml
monitors.xml~
eog
totem
dleyna-server-service.conf
pavucontrol.ini
zoomus.conf
pop-system-updater
.gsd-keyboard.settings-ported
khelpcenterrc
yarn/global
font-manager
alacritty/target
dleyna-renderer-service.conf
libreoffice/4/user
nextjs-nodejs/config.json
FortiClient
connections.db
gnome-control-center/backgrounds
ngrok/ngrok.yml
cef_user_data/Dictionaries
gnome-boxes/sources
libvirt
nautilus
lutris
qBittorrent

goa-1.0
Pop
plugin-Autenticacao.Gov
lazygit/state.yml
nvim/plugin/packer_compiled.lua

geary/goa_account_1671451677_0
zoom.conf
MongoDB Compass
GNOME-xdg-terminals.list
xdg-terminals.list
rover
discoverrc
fedora-plasma-cacherc
kactivitymanagerd-pluginsrc
kactivitymanagerd-switcher
konsolesshconfig
plasma-welcomerc
PlasmaDiscoverUpdates
drkonqirc
kwalletmanager5rc
sddmthemeinstallerrc
plasmaparc
pteid.conf
github-copilot/hosts.json
gsconnect
tiling-assistant
