BraveSoftware/
KDE/
Kvantum/
QtProject.conf
Slack/
Trolltech.conf
VirtualBox/
VirtualBoxrc
akregatorrc
appimagelauncher.cfg
arkrc
autostart/
balena-etcher-electron/
balena-etcher/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
configstore/
dconf/
device_automounter_kcmrc
dolphinrc
emaildefaults
falkon/
filelightrc
fish/fish_variables
GIMP/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
htop/
k3brc
kactivitymanagerd-statsrc
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katesyntaxhighlightingrc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kmenueditrc
kmixrc
knfsshare
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
latte/
lattedockrc
libaccounts-glib/
manjaro-hello.json
manjaro/
matray/
menus/
mimeapps.list
neofetch/
nvim/autoload/
nvim/lua/packer_compiled.lua
nvim_backup/autoload/
okularpartrc
okularrc
omf/
onlyoffice/
pamac/
partitionmanagerrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
pulse/
session/
spectaclerc
spotify-tui/
systemd/
systemmonitorrc
systemsettingsrc
touchpadxlibinputrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
xsettingsd/
yakuakerc

enchant/
evolution/
gedit/
gnome-initial-setup-done
ibus/
mozc/
nvim/dotfiles/
qalculate/
pop-shell/
touchegg/
